@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default" style="background-color: #44a6d6;width: 400px; height: 300px;box-shadow: 8px 8px 5px #888888;">
      <div class="panel-heading"><h3>Individual Customer Management</h3></div>
      <div class="panel-body">
        <p>
          AdventureWorks bikes are designed to be low on maintenance
          and high on fun and comfort. No matter where you like to ride-- from shredding trails on the Hawk Hill, to
          redefining what road riding means on a Gestalt, or just cruising the local bike path on a brand new Stinson, there's an AdventureWorks out there that will make you feel excited to get out and ride.
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="col-md-6">
      <div class="panel panel-default" style="border-color: #f6d95d;width: 400px; height: 300px;box-shadow: 8px 8px 5px #888888;">
        <div class="panel-heading"><h3>Blah Blah</h3></div>
        <div class="panel-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquet, arcu nec tincidunt ornare, diam diam bibendum elit, sed egestas risus purus ut erat. Maecenas eget felis id tellus rutrum semper. Vivamus eu lectus semper, fringilla dolor quis, euismod arcu. Praesent elementum arcu libero, a fermentum est egestas sed. Nunc id tellus feugiat, volutpat mauris et, vulputate neque. Curabitur malesuada lectus eget congue tristique. Ut eu tellus orci. Duis aliquam pharetra est, eget tincidunt m</p>
        </div>
      </div>
    </div>
  </div>

</div>
